<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <appSettings>

    <add key="HIDUsername" value="ahmedhazem"/>
    <add key="HIDPassword" value="Aaib1234"/>
    
    <add key="APILinkToken" value="https://t24apis.dev.digital.aaib/api-docs/"/>

    <add key="APILink" value="https://backenddbadapter.dev.digital.aaib/api-docs"/>

  </appSettings>
</configuration>